extends layout

block content
  h1= title
  p 댓글 기능 체크용 페이지입니다

  form.form-signin(action="/comments/write" method="POST")
    input(name="comment" type="text" placeholder="댓글 내용" required="" autocomplete="off")
    button(type="submit") 댓글 작성